---
import Angular from "../icons/Angular.astro";
import HTML from "../icons/HTML.astro";
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import Expo from "../icons/Expo.astro";
import Firebase from "../icons/Firebase.astro";

import Description from "./Description.astro";
import TDHFestIcon from "../assets/ticketscan/icon.webp";
import { Image } from "astro:assets";

const TAGS = {
  Angular: {
    name: "Angular",
    class: "bg-[#b52e31] text-white",
    icon: Angular,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#e34f26] text-black",
    icon: HTML,
  },
  React: {
    name: "React",
    class: "bg-[#00d8ff] text-black",
    icon: React,
  },
  Tailwind: {
    name: "Tailwind",
    class: "bg-[#39bdf8] text-black",
    icon: Tailwind,
  },
  Expo: {
    name: "Expo",
    class: "bg-black text-white",
    icon: Expo,
  },
  Firebase: {
    name: "Firebase",
    class: "text-black bg-[#F5820D]",
    icon: Firebase,
  },
};

const PROJECTS = [
  {
    title: "TDHFest",
    description:
      "This project focused on managing event attendance for over 8,000 participants on two separate occasions. Attendees received a unique QR code via email, which they scanned using a custom mobile app to ensure a smooth and swift entry process at the event.",
    link: "#",
    github: "#",
    image: TDHFestIcon,
    tags: [TAGS.React, TAGS.Expo, TAGS.Firebase, TAGS.Tailwind],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="mb-2 text-xl font-semibold text-yellow-200 md:text-2xl">
        {title}
      </h3>

      <div class="flex flex-col items-center justify-center gap-2 md:flex-row md:gap-4">
        <Image
          src={image}
          alt={`Icono del proyecto ${title}`}
          class="shadow.white/10 size-24 rounded shadow-2xl md:size-40"
        />
        <div class="max-w-full overflow-hidden">
          <Description class="mb-4 text-pretty text-base md:text-xl">
            {description}
          </Description>

          <ul class="mb-2 flex gap-x-2 overflow-x-auto">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex items-center gap-x-2 rounded-full px-4 py-2 text-xs font-bold ${tag.class}`}
                >
                  <tag.icon class="size-5" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </article>
  ))
}
