---
import Linkedin from "../icons/Linkedin.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: Linkedin,
  },
  HTML: {
    name: "HTML",
    class: "bg-black text-white",
    icon: Linkedin,
  },
};

const PROJECTS = [
  {
    title: "Proyect 1",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla massa velit. Curabitur suscipit accumsan egestas. Quisque a nulla dui. Integer dapibus ac neque sed tristique. ",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: [TAGS.NEXT, TAGS.HTML],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="mb-2 text-xl font-semibold text-yellow-200 md:text-2xl">
        {title}
      </h3>
      <p class="mb-4 text-pretty text-base md:text-xl">{description}</p>
      <ul class="flex gap-x-2 mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex items-center gap-x-2 rounded-full px-4 py-2 text-xs ${tag.class}`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        src={image}
        alt={`Captura de pantalla del proyecto ${title}`}
        class="shadow.white/10 rounded shadow-2xl"
      />
    </article>
  ))
}
