---
import Layout from "../../layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { getProjectById, type Project } from "../../services/projects";
import { PROJECTS } from "../../Globals.json";
import SectionContainer from "../../components/SectionContainer.astro";
import Carousel from "../../components/Carousel.astro";

const { id } = Astro.params;

let project: Project | undefined;
if (id) {
  project = getProjectById(id);
}

export const getStaticPaths = (() => {
  const projects = PROJECTS;
  return projects.map((p) => ({ params: { id: p.id } }));
}) satisfies GetStaticPaths;
---

<Layout title={`Leonardo's portfolio - project: ${id}`}>
  <main class="w-full px-4">
    <SectionContainer id={id}>
      {
        project && (
          <section>
            <h1 class="mb-2 text-xl font-semibold text-yellow-200 md:text-2xl">
              {project.title}
            </h1>

            {!!project.images.length && <Carousel images={project.images} />}

            {!!project.description && (
              <p class="mt-5 text-pretty text-sm font-normal text-gray-200 md:text-base">
                {project.description}
              </p>
            )}
          </section>
        )
      }
    </SectionContainer>
  </main>
</Layout>
